<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav  flex flex-col h-full" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="flex items-center justify-evenly">
        <img src="sangrita.png" alt="" class="w-8 h-10" />
        <span class="text-[#FF0000] font-bold">Vida Chile</span>
      </div>
    </mat-toolbar>
    <hr>
    <div class="main-navigation-container">
      <mat-nav-list class="flex-1 custom-nav-list-start" >
        @for (item of menuItems(); track $index) {
          <a mat-list-item 
            [routerLink]="item.path" 
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}"
            >
            <mat-icon class="material-symbols-outlined mr-2">{{item.icon}}</mat-icon>
            <span>{{item.label}}</span>
          </a>
        }
      </mat-nav-list>
    </div>
    <div class="logout-container">
      <mat-nav-list class="mt-auto custom-nav-list-final">
        <hr class="my-2">
        <a mat-list-item [routerLink]="logoutItem().path" class="flex items-center justify-center" (click)="onLogout()">
          <mat-icon class="material-symbols-outlined mr-2 flex items-center">{{logoutItem().icon}}</mat-icon>
          {{logoutItem().label}}
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex justify-between items-center z-50">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="text-black ml-auto pr-6">{{ bloodBankName() }}</span> 
    </mat-toolbar>
    <div class="main-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
